05_06. N8N Session Fundamentals/Chat with a database using AI.json
{
  "name": "Chat with a database using AI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "73786411-5383-4921-82ee-06b3b582bab7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        528,
        48
      ],
      "webhookId": "1c0d08f0-abd0-4bdc-beef-370c27aae1a0",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "9df537e7-3ca2-4e72-bc85-ae0d944fbdd1",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        880,
        288
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=context: For the given query use the available tool to query. \n\nQuery:  {{ $json.chatInput }}",
        "options": {}
      },
      "id": "57b2b959-9f25-475f-b6bb-842139725411",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        800,
        48
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        720,
        288
      ],
      "id": "1667fd7e-0a33-4366-b7ac-b38adb1373e6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "wI4S4lQsd9hfVmtU",
          "name": "SJ Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "=actor",
        "limit": 500
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1216,
        128
      ],
      "id": "fee3dc98-0fd5-4bc4-8460-31230fc3c67e",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "iLRo9egB3oqzuAIC",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://llpdhvfjhadcmnrayuzv.supabase.co/rest/v1/actor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_yhHcoAU1GXjidS607pMJLQ_vYuPFon6"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_yhHcoAU1GXjidS607pMJLQ_vYuPFon6"
            },
            {
              "name": "Range",
              "value": "0-9"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "column",
              "value": "like.*A*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1472,
        224
      ],
      "id": "abc9d11a-8f94-419e-911d-fad3b3c27454",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "376916de-a2e4-4b60-b207-88e21ab156ae",
  "meta": {
    "templateId": "2090",
    "templateCredsSetupCompleted": true,
    "instanceId": "b243f0a47a406c87cd60daf04fc898503a6b196a087e627d0f0cd179a5cd2a5c"
  },
  "id": "gWUApbXukMdSb5CM",
  "tags": []
}